/*content*/
#content{
    width:1000px;
    margin:0 auto;
}
/* * * * * * section1 * * * * * */
#content .section1{
    overflow:hidden;
    height:400px;
}   
#content .section1 > div{
    border:1px solid gray;
    box-sizing:border-box;
    float:left;
    height:400px;
    line-height:400px;
    text-align:center;
}
#content .section1 .slide_banner{
    width:700px;
}
#content .section1 .side_banner{
    width:300px;
}
/* * * * * * section2 * * * * * */
#content .section2 .hit_product{
    margin:10px 0;
}
#content .section2 .hit_product,
#content .section2 .md_produck{
    border:1px solid gray;
}
#content .section2 .hit_product ul,
#content .section2 .md_produck ul{
    overflow:hidden;
    padding:0 0.8%;
}
#content .section2 .hit_product ul li,
#content .section2 .md_produck ul li{
    float:left;
    height:400px;
    line-height:400px;
    text-align:center;
    width:24%;
    border:1px solid gray;
    box-sizing:border-box;
    margin:0 0.5%;
}